.containerOne {
  text-align: center;
}

.containerTwo {
  text-align: center;
  background-position: center;
}

.gridBox {
  height: 140px;
  width: 140px;
  background-color: orange;
  font-size: 100px;
  text-align: center;
  box-shadow: none;
  border: none;
  background-position: center;
  margin: 5px;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  color: orange;
  font-size: 50px;
  text-align: center;
  background-color: rgba(72,174,35,0.75);
  background-position: center;
  display: inline-block;
  text-shadow:1px 1px 0 #fff,
-1px -1px 0 #fff,
1px -1px 0 #fff,
-1px 1px 0 #fff,
0px 1px 0 #fff,
1px 0px 0 #fff,
0px -1px 0 #fff,
-1px 0px 0 #fff,
4px 4px 3px #000;
margin: 5px;
width: 860px;
}

h2 {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  background-color: rgba(253,164,30,0.5);
  background-position: center;
  display: inline-block;
  text-shadow:0px 0px 10px orange;
  width: 560px;
}


body {
  background-image: url(spade_and_rake.png);
  background-repeat: repeat;
  background-color: rgb(101,196,52);
}

.cabbageWins {
  height: 640px;
  width: 860px;
}

.cornWins {
  height: 640px;
  width: 860px;
}





